
.box{ 
    width:50px;
    height: 50px;
    background: #ff1395;
    display: inline-block;
       }

.box-2{ background: #ffff00;}

.box-3{ background: #0003ff;}


/* 
-BLOCK
-INLINE
-INLINE-BLOCK

-GRID
-FLEX

-BLOCK = VEM COMO PADRÃO: DIV, SECTION, P, H1,H2,UL,ARTICLE
-OCUPA 100% DA LARGURA DO ELEMENTO PAI
-SEMPRE OCUPA TODA A SUA LINHA
-ALTURA DEFINIDA DE ACORDO COM O CONTEÚDO
-PODEMOS DEFINIR HEIGHT E WIDTH
-PODEMOS DEFINIR VALORES DE MARGIN

-INLINE = VEM COMO PADRÃO a, span, b, 1
-ELEMENTOS EM LINHA
-NÃO PERMITE ALTERAR HEIGHT E WIDTH
-NÃO PODEMOS DEFINIR VALORES DE MARGIN
-GANHA COMPORTAMENTO DE UMA PALAVRA

-INLINE-BLOCK = ELEMENTOS EM LINHA, PORÉM COM CARACTERÍSTICA 
DO DISPLAY BLOCK ALTURA E LARGURA PODEM SER ALTERADAS

-



*/