*{ margin:0;
padding:0;
box-sizing: border-box;}

input{
    border: 1px solid red;
    color:blue; }

    /*placeholder=modificar elementos dentro do input*/
    input::placeholder{
color:#ff1396;  }

p{ color:blue; font-size: 30px;}

p::first-letter{ color: red;}

h1{ color: blueviolet}

/* before=antes after=depois */

h1::before{content: " 😎";}

h1::after{content: "➡️";}